@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.textArea::-webkit-scrollbar {
  display: none;
}
.conversation-container {
  height: calc(100vh - 107px); /* Adjust as needed */
  overflow-y: auto;
}
